@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


// COLOURS
$misty-blue: #2F5061;
$coral: #ce7276;
$ivory: #F4EAE6;
$green: #4297A0;
$light-green: #7ab6bc;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body {
    width: 100%;
    background-color: $misty-blue;

    main {
        padding: 40px 20px;
    }
    #form-container {
        text-align: center;
        .label {
            color: #F4EAE6;
        }
        .textbox {
        }
        #form-btn {
            
            border: none;
            color: #F4EAE6;
            font-weight: 700;
            font-size: 1.2rem;
            background-color: #ce7276;
            cursor: pointer;
        }
    }
    #grid {
        display: grid;
        padding: 10px 0px;
        gap: 5px;
        .box {
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $ivory;
            background-color: $green;
            margin-bottom: 10px;
            .box-title {
                background-color: $light-green;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4px;
                width: 100%;
                text-align: center;
                padding: 10px;
            }
            .box-content {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
    }
}
@media (max-width: 500px) {
    #form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        .label {
            margin-bottom: 30px;
            font-size: 2rem;
        }
        .textbox {
            padding: 5px 10px;
            margin-bottom: 5px;
            width: 100%;
        }
        #form-btn {
            padding: 10px 35px;
            width: 100%;
        }
    }
    #grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 501px) {
    #form-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textbox {
            padding: 12px 10px;
            
        }
        #form-btn {
            padding: 10px 35px;
        }
    }
    #grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 901px) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
    }
}